.additionalGraphContainer {
  grid-row: 1 / 3;
  grid-column: 1;
  height: 100%;
  width: 100%;

  border: 0.1rem solid var(--stroke-color);
  border-radius: 1rem;
  background-color: var(--background2-color);

  padding: 1rem;
  display: grid;
  grid-template-rows: 9rem 5fr;
  grid-template-columns: 25rem 1fr;
}

.additionalOverview {
  grid-row: 1;
  grid-column: 2;
  height: 100%;
  width: 100%;

  border: 0.1rem solid var(--stroke-color);
  border-radius: 1rem;
  background-color: var(--background2-color);

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.additionalOverview > .additionalOverviewItem {
  height: 100%;
  width: 100%;
}

.additionalOverview > .additionalOverviewItem:nth-child(odd) {
  border-right: 0.1rem solid var(--stroke-color);
}

.additionalOverview > .additionalOverviewItem:nth-child(n + 3) {
  border-top: 0.1rem solid var(--stroke-color);
}

.additionalOverviewItem > .additionalOverviewItemTitle {
  grid-row: 1;
  grid-column: 1 / 3;
  height: 2rem;
  width: 100%;
  margin: 1.5rem;
}

.additionalOverviewItem > .additionalOverviewItemContent {
  grid-row: 2;
  grid-column: 1 / 3;
  height: 2rem;
  width: auto;

  margin: 1.5rem;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0.5rem;
}

.additionalOverviewItemContent > .contentPart {
  height: 100%;
  width: 100%;

  border-radius: 1rem;
  background-color: var(--background1-color);
}

.additionalOverviewItemContent > .contentPart:nth-child(1).active {
  background-color: var(--additional-color3);
}

.additionalOverviewItemContent > .contentPart:nth-child(2).active {
  background-color: var(--additional-color2);
}

.additionalOverviewItemContent > .contentPart:nth-child(3).active {
  background-color: var(--additional-color1);
}

.additionalGraphContainer > .graphTypeDropdown {
  grid-row: 1;
  grid-column: 1;
  margin-left: 3rem;
  margin-top: 3rem;
}

.additionalGraphContainer > .additionalGraph {
  grid-row: 2;
  grid-column: 1 / 3;
  height: 100%;
  width: 100%;
}

.additionalDetail {
  grid-row: 2;
  grid-column: 2;
  height: 100%;
  width: 100%;
  padding: 2rem;

  border: 0.1rem solid var(--stroke-color);
  border-radius: 1rem;
  background-color: var(--background2-color);

  display: grid;
  grid-template-rows: 3.8rem 1fr;
  grid-template-columns: 20rem 14rem 1fr;
  grid-column-gap: 1rem;
}

.additionalDetail > .additionalDetailTitle {
  font-weight: bold;
  font-size: 2.8rem;

  height: 100%;
  width: 100%;
}

.additionalDetail > .additionalDetailAverage {
  font-size: 2.8rem;

  height: 100%;
  width: 100%;
}

.additionalDetail > .additionalDetailScore {
  font-weight: bold;
  font-size: 2.8rem;

  height: 100%;
  width: 100%;
}

.additionalDetail > .zonesDescription {
  grid-row: 2;
  grid-column: 1;
  height: 100%;
  width: 100%;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.additionalDetail > .zonesDescription > .zonesDescriptionItem {
  height: 5rem;
  width: 100%;
  padding-left: 3rem;

  font-weight: bold;
  font-size: 2rem;

  display: grid;
  grid-template-columns: 5rem 1fr;
}

.zonesDescriptionItem > .zonesDescriptionColor {
  height: 3rem;
  width: 3rem;
  border: 2px solid var(--stroke-color);
  border-radius: 50%;
}

.additionalDetail > .zonesChartWrapper {
  grid-row: 2;
  grid-column: 2 / 4;

  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
