@import "../Variables.css";

.exerciseList {
  height: 70rem;
  width: 85rem;
  margin: 0 1vw;

  display: flex;
  flex-direction: column;
}

.exerciseOverview {
  height: 70rem;
  width: 45rem;
  margin: 0 1vw;

  display: grid;
  grid-template-rows: 1fr 2fr 2fr 2fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2.8rem;
}

.exerciseList > .exerciseListHeader {
  padding-top: 4rem;
  height: 6rem;
  width: 75rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.exerciseListHeader > .sortButton {
  height: 5rem;
  width: 9rem;
  margin-right: 3rem;

  display: inline-grid;
  grid-template-columns: 6rem 1rem;
  grid-template-rows: 1fr;
  grid-gap: 0.2rem;
  background-color: var(--background2-color);
  border: 0.4rem solid var(--primary-color);

  border-radius: 1rem;

  justify-items: center;
  align-items: center;
  font-weight: bold;
}

.sortButton > span {
  grid-column: 1;
  grid-row: 1/3;
  height: auto;
  width: 6rem;

  display: flex;
  justify-content: center;
}

.sortButton:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.sortButton > .arrowUp,
.sortButton > .arrowDown {
  display: none;
  grid-column: 2;
  align-self: center;

  width: 1rem;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
}

.sortButton .visible {
  display: inline-block;
}

.sortButton > .arrowUp {
  border-bottom: 1rem solid var(--stroke-color);
  padding-bottom: 0.8rem;
}

.sortButton > .arrowDown {
  border-top: 1rem solid var(--stroke-color);
  padding-top: 0.8rem;
}

.sortButton > .arrowUp.active {
  border-bottom-color: var(--primary-color);
}

.sortButton > .arrowDown.active {
  border-top-color: var(--primary-color);
}

.exerciseList > .exerciseListBody {
  height: 60rem;
  width: 91%;

  margin-top: 3rem;

  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: 5rem;
  scrollbar-color: var(--primary-color) var(--background2-color);
}

.exerciseOverview > .infoHeader {
  grid-row: 1;
  grid-column: 1 / 3;
  height: 10rem;
  width: auto;

  background-color: var(--background2-color);
  border: 0.1rem solid var(--stroke-color);
  border-radius: 1rem;

  display: grid;
  grid-template-columns: 10rem 1fr 10rem;
  grid-template-rows: 1fr;
}

.infoHeader > .infoHeaderIcon {
  grid-row: 1;
  grid-column: 1;

  height: 6rem;
  width: 6rem;
  margin: 1.5rem;
}

.infoHeader > .infoHeaderDateInterval {
  grid-column: 2;

  margin: auto;
  margin-left: 1rem;
  font-weight: bold;
  font-size: 2rem;
}

.infoHeader > .moreInfoButton {
  grid-row: 1;
  grid-column: 3;
  height: 8rem;
  width: 8rem;
  margin: auto;

  background-color: var(--primary-color);
  border: 0.1rem solid var(--stroke-color);
  border-radius: 1rem;
  font-weight: bold;
  font-size: 2rem;

  display: flex;
}
.infoHeader > .moreInfoButton:hover {
  cursor: pointer;
}

.moreInfoButton > img {
  height: 6rem;
  width: 6rem;
  margin: auto;
}

.exerciseOverview > .infoBox {
  height: 17rem;
  width: 21rem;
  background-color: var(--background2-color);
  border: 0.1rem solid var(--stroke-color);
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 25% 75%;
}

.infoBox > .infoBoxLabel {
  grid-row: 1;
  grid-column: 1;
  height: 3rem;
  width: 21rem;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

.infoBox > .infoBoxContent {
  grid-row: 1/3;
  grid-column: 1;

  margin: auto;
  font-weight: bold;
  font-size: 3rem;
  place-self: center;
}

.exerciseListBody > .exerciseItem {
  height: 10rem;
  min-height: 10rem;
  width: 70rem;
  border-radius: 1rem;

  margin: 1rem 0;
  background-color: var(--background2-color);
  border: 0.1rem solid var(--stroke-color);

  display: grid;
  grid-template-columns: 10rem 1fr 40rem;
  grid-template-rows: 30% 30% 40%;
}

.exerciseItem:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.exerciseItem > .exerciseIcon {
  grid-column: 1/3;
  grid-row: 1/4;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1.5rem;
}

.exerciseItem > .exerciseName {
  grid-column: 2;
  grid-row: 1;

  margin-top: 1.5rem;
  font-size: 2.1rem;
  font-weight: bold;

  width: 30rem;
  height: 2.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.exerciseItem > .exerciseTime {
  grid-column: 2;
  grid-row: 3;
  font-size: 1.8rem;

  height: 5rem;
  width: 30rem;
}

.exerciseItem > .exerciseSource {
  grid-column: 3;
  grid-row: 1;

  margin-top: 0.5rem;
  padding-right: 1rem;
  text-align: right;
  font-size: 1.3rem;

  height: 5rem;
  width: 30rem;
}

.message {
  font-size: 3rem;
  font-weight: bold;
}
