.heartRateGraphContainer {
  grid-row: 1 / 3;
  grid-column: 1;
  height: 100%;
  width: 100%;

  border: 0.1rem solid var(--stroke-color);
  border-radius: 1rem;
  background-color: var(--background2-color);

  padding: 1rem;
  display: grid;
  grid-template-rows: 9rem 5fr;
  grid-template-columns: 25rem 1fr;
}

.heartRateGraphContainer > .graphTypeDropdown {
  grid-row: 1;
  grid-column: 1;

  margin-left: 2rem;
  margin-top: 3rem;
}

.heartRateGraphContainer > .heartRateGraphLegend {
  grid-row: 1;
  grid-column: 2;
  height: auto;
  width: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heartRateGraphLegend > .legendItem {
  height: 3rem;
  width: 20rem;
  padding-top: 1rem;

  display: grid;
  grid-template-columns: 3rem 1fr;
}

.legendItem > .legendItemColor {
  height: 1.8rem;
  width: 1.8rem;
  border: 0.1rem solid var(--stroke-color);
  border-radius: 50%;
  margin: 0.5rem;
}

.legendItem > span {
  margin-top: auto;
  margin-bottom: auto;
}

.heartRateGraphContainer > .heartRateGraph {
  grid-row: 2;
  grid-column: 1 / 3;
  height: 100%;
  width: 100%;
}

.recoveryHeartRateContainer {
  grid-row: 2;
  grid-column: 2;
  height: 100%;
  width: 100%;

  border: 0.1rem solid var(--stroke-color);
  border-radius: 1rem;
  background-color: var(--background2-color);
  padding: 1rem;

  display: grid;
  grid-template-rows: 6rem 1fr;
}

.recoveryHeartRateContainer > .recoveryHeartRateContainerTitle {
  grid-row: 1;
  grid-column: 1;
  height: 100%;
  width: 100%;

  font-weight: bold;
  font-size: 3rem;
  margin: 0.5rem;
}

.heartRateZonesContainer {
  grid-row: 1;
  grid-column: 2;
  height: 100%;
  width: 100%;

  border: 0.1rem solid var(--stroke-color);
  border-radius: 1rem;
  background-color: var(--background2-color);

  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 1.4fr 2fr;
  grid-gap: 1rem;
  padding: 2rem;
}

.heartRateZonesContainer > .zonesChartWrapper {
  grid-column: 2;
  grid-row: 1 / 6;

  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.heartRateZonesContainer > .heartRateZone {
  height: 100%;
  width: 100%;

  grid-column: 1;
  font-size: 2rem;
  font-weight: bold;

  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 5%;
}

.heartRateZonesContainer > .zones-chart {
  height: 100%;
  width: 100%;
}

.heartRateZoneColor {
  grid-column: 1;
  height: 3rem;
  width: 3rem;
  border: 2px solid var(--stroke-color);
  border-radius: 50%;
}

#heartRateZone1 > .heartRateZoneColor {
  background-color: var(--heart-rate-zone1-color);
}

#heartRateZone2 > .heartRateZoneColor {
  background-color: var(--heart-rate-zone2-color);
}

#heartRateZone3 > .heartRateZoneColor {
  background-color: var(--heart-rate-zone3-color);
}

#heartRateZone4 > .heartRateZoneColor {
  background-color: var(--heart-rate-zone4-color);
}

#heartRateZone5 > .heartRateZoneColor {
  background-color: var(--heart-rate-zone5-color);
}
