.mapLayout > .mapContainer {
  height: 100%;
  width: 100%;

  border: 0.1rem solid var(--stroke-color);
  border-radius: 1rem;
  background-color: var(--background2-color);

  padding: 2rem;

  display: grid;
  grid-template-rows: 8rem 1fr;
  grid-template-columns: 110rem 1fr;
}

.mapLayout > .mapContainer > .map {
  grid-row: 1 / 3;
  grid-column: 1;

  height: 100%;
  width: 100%;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.mapContainer > .graphTypeDropdown {
  grid-row: 1;
  grid-column: 2;

  margin-left: 4rem;
}

.mapLegend {
  margin-left: 4rem;
}

.mapLegend > .legendItem {
  height: 3rem;
  width: 20rem;
  padding-top: 1rem;

  display: grid;
  grid-template-columns: 3rem 1fr;
}

.legendItem > .legendItemColor {
  height: 1.8rem;
  width: 1.8rem;
  border: 0.1rem solid var(--stroke-color);
  border-radius: 50%;
  margin: 0.5rem;
}

.legendItem > span {
  margin-top: auto;
  margin-bottom: auto;
}
