.motionGraphContainer {
  border: 0.1rem solid var(--stroke-color);
  border-radius: 1rem;
  background-color: var(--background2-color);

  padding: 1rem;
  height: 100%;
  width: 100%;
}

.motionToolBar {
  border: 0.1rem solid var(--stroke-color);
  border-radius: 1rem;
  background-color: var(--background2-color);

  grid-row: 1;
  grid-column: 2;

  height: 100%;
  width: 100%;
  padding: 1.5rem;

  display: grid;
  grid-template-rows: 10rem 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-gap: 2.5rem;
  align-items: center;
}

.motionToolBar > .motionToolBarTimeBox {
  grid-row: 1;
  height: 100%;
  width: 100%;
}

.motionToolBarTimeBox > .timeBoxContent {
  font-weight: bold;
  font-size: 4rem;
}

.motionToolBar > .motionToolBarBox {
  grid-row: 2;

  height: 100%;
  width: 18rem;
}

.motionToolBarBox > .content {
  margin: auto;
  font-weight: bold;
  font-size: 3rem;
  place-self: center;
}
