.graphSectionLayout1 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.section {
  height: 100%;
  width: 100%;

  padding: 2rem;

  background-color: var(--background2-color);
  border: 0.1rem solid var(--stroke-color);
  border-radius: 1rem;
}

.graphSectionLayout1 > .motionSection {
  grid-row: 1;
  grid-column: 1;
}

.graphSectionLayout1 > .additionalOverviewSection {
  display: grid;
  grid-template-rows: 3rem 1fr;
}

.graphSectionLayout1 > .mapSection {
  grid-row: 1;
  grid-column: 2;
}

.graphSectionLayout1 > .mapSection > .map {
  height: 100%;
  width: 100%;
}

.sectionHeader {
  grid-row: 1;
  font-weight: bold;
  font-size: 2rem;
}

.dataSectionLayout {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-rows: 10rem 1fr;
  grid-row-gap: 2rem;
}

.dataSectionWrapper {
  grid-row: 2;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;

  align-items: start;

  height: 100%;
  width: 100%;
}

.dataSectionWrapper > .column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-self: flex-start;
}

.dataSectionItem {
  width: 100%;
  padding: 1.7rem;

  background-color: var(--background2-color);
  border: 0.1rem solid var(--stroke-color);
  border-radius: 1rem;

  display: grid;
  grid-template-columns: 16rem 1fr;
}

.itemHeader {
  grid-row: 1;
  font-weight: bold;
  font-size: 1.8rem;
  width: 100%;
}

.itemContent {
  margin-top: 0.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.itemRow {
  width: 100%;
  height: 3.5rem;

  display: grid;
  grid-template-rows: 1.3rem 1.8rem;
  grid-row-gap: 0.5rem;
}

.itemRowHeader {
  height: 100%;
  width: 100%;

  font-size: 1.3rem;
}

.itemRowData {
  height: 100%;
  width: 100%;

  font-size: 1.8rem;
  font-weight: bold;
}

.dataSectionLayout > .dataSectionHeader {
  grid-row: 1;
  height: 10rem;
  width: 100%;
  padding: 1.7rem;

  background-color: var(--background2-color);
  border: 0.5rem solid var(--primary-color);
  border-radius: 1rem;

  display: grid;
  grid-template-columns: 6rem 1fr 22rem;
  grid-column-gap: 3rem;
  grid-template-rows: 30% 30% 40%;
}

.dataSectionHeader > .exerciseIcon {
  grid-column: 1/3;
  grid-row: 1/4;
}

.dataSectionHeader > .exerciseName {
  grid-column: 2;
  grid-row: 1;

  font-size: 2.4rem;
  font-weight: bold;

  /* width: 20rem; */
  height: 3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dataSectionHeader > .exerciseTime {
  grid-column: 2;
  grid-row: 3;

  font-size: 1.8rem;
}

.dataSectionHeader > .exerciseSource {
  grid-column: 3;
  grid-row: 1;
  font-size: 1.3rem;

  text-align: right;
}
