.uploadDataForm {
  height: 22rem;

  display: grid;
  grid-template-rows: 8rem 8rem 6rem;
  grid-template-columns: 0.35fr 1fr;
  grid-row-gap: 0.8rem;

  margin: 4rem;
}

.uploadItem {
  border: 0.1rem solid var(--stroke-color);
  border-radius: 1rem;
  background-color: var(--background2-color);

  height: 70rem;
  width: 100%;
  padding: 1rem;
}

.uploadItem > .uploadInstructions {
  margin: 3rem;
  display: grid;
  grid-template-rows: 5rem 1fr;
  grid-template-columns: 1fr 14rem;
}

.uploadInstructions > .instructionHeader {
  grid-row: 1;
  grid-column: 1;

  font-size: 2.4rem;
  font-weight: bold;

  display: flex;
  align-items: center;
}

.uploadInstructions > .instructionContent {
  grid-row: 2;
  /* grid-column: 1/3; */

  margin-top: 2rem;
}

.instructionContent strong {
  font-size: 2rem;
}

.instructionContent li {
  margin-bottom: 0.5rem;
}


.uploadInstructions > .selectButton {
  grid-row: 1;
  grid-column: 2;
}

.uploadRow {
  grid-column: 1/3;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  margin: 1rem;
}

.fileInput {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  color: var(--primary-color);
}

input[type="file"]::file-selector-button {
  border: 1px solid var(--stroke-color);
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: var(--background1-color);
}

input[type="file"]::file-selector-button:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

.submitUpload {
  grid-row: 3;
  cursor: pointer;

  height: 3.5rem;
  width: 9rem;
  margin: 0.8rem;

  background-color: var(--background2-color);
  border: 0.2rem solid var(--stroke-color);
  background-color: var(--primary-color);
  border-radius: 1rem;
}

#uploadStatus {
  grid-row: 3;
  grid-column: 2;

  height: 3.5rem;
  margin: 0.8rem;

  display: flex;
  align-items: center;

  color: var(--primary-color);

  width: 32rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loader {
  border: 0.4rem solid var(--background1-color);
  border-left-color: var(--primary-color);
  border-radius: 3.5rem;
  width: 2.6rem;
  height: 2.6rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
