@import "leaflet/dist/leaflet.css";

@import "Variables.css";
@import "Common.css";
@import "Layouts.css";
@import "./error/Error.css";
@import "./exercises/Exercises.css";
@import "./exercises/HeartRate.css";
@import "./exercises/Additional.css";
@import "./exercises/Motion.css";
@import "./exercises/Map.css";
@import "./exercises/Overview.css";
@import "./upload/ZipUpload.css";
@import "./map/Exercises.css";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
  font-size: var(--font-size-root);
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  background-color: var(--background1-color);
}

.app {
  display: grid;
  grid-template-rows: 7.5rem 1fr;
  grid-template-columns: 21.7rem 1fr;
  width: 100%;
  height: 100%;
}

main {
  grid-row: 2;
  grid-column: 2;
  height: auto;
  width: auto;

  display: flex;
  justify-content: center;
}
