.logo {
  grid-row: 1;
  grid-column: 1;
  background: var(--background2-color);
  border-right: 0.2rem solid var(--stroke-color);
  border-bottom: 0.2rem solid var(--stroke-color);
}

.sidebar {
  grid-row: 2 / 4;
  grid-column: 1;
  background: var(--background2-color);
  height: 100%;
  border-right: 0.2rem solid var(--stroke-color);
  padding: 1.8rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 5rem;
  grid-gap: 1.5rem;
}

.navigation {
  grid-row: 1;
  grid-column: 2;
  width: 100%;
  height: 100%;

  background: var(--background2-color);
  border-bottom: 0.2rem solid var(--stroke-color);

  display: grid;
  grid-auto-flow: column;
  justify-content: start;
}

.sidebarItem {
  height: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;

  background: var(--background2-color);
  border: 0.2rem solid var(--stroke-color);
  border-radius: 1rem;

  position: relative;
  color: var(--text-color);
  font-weight: bold;
}

.sidebarItem:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.sidebarItem.active {
  background: var(--primary-color);
  box-sizing: border-box;
}

.sidebarItem > .icon {
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  left: 2rem;
}

.sidebarItem > span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5.7rem;
}

.navigationItem {
  border-right: 0.2rem solid var(--stroke-color);
  width: 10rem;
  height: auto;

  display: inline-grid;
  grid-template-rows: 4fr 1fr;
  grid-template-columns: 1fr;

  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
}

.navigationItem.active {
  border: 0.5rem solid var(--primary-color);
}

.navigationItem:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.navigationItem > span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  text-decoration: none;
}

.activeIndicator {
  width: auto;
  height: 0.6rem;
  border-radius: 1rem;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
  background-color: var(--primary-color);
}

.chart-container g {
  font-size: 1.6rem;
}

select {
  height: 5rem;
  width: 14rem;

  background-color: var(--background2-color);
  border: 0.4rem solid var(--primary-color);
  border-radius: 1rem;

  padding-left: 1rem;
  font-weight: bold;
}
