.defaultLayout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;

  margin-top: 3%;
  height: 70rem;
  width: 135rem;
}

.quadLayout {
  margin-top: 3%;
  height: 70rem;
  width: 135rem;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.exerciseHeartRateLayout {
  margin-top: 3%;
  height: 70rem;
  width: 135rem;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 0.6fr 0.4fr;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.additionalLayout {
  margin-top: 3%;
  height: 70rem;
  width: 135rem;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 0.6fr 0.4fr;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.mapLayout {
  margin-top: 3%;
  height: 70rem;
  width: 135rem;
}

.uploadLayout {
  margin-top: 3%;
  height: 70rem;
  width: 135rem;

  display: grid;
  grid-template-columns: 5fr 7fr;
  grid-column-gap: 3rem;
}

.exerciseOverviewLayout {
  margin-top: 3%;
  height: 70rem;
  width: 135rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3rem;
}
