:root {
  --text-color: #130a01;
  --background1-color: #ebecf0;
  --background2-color: #ffffff;
  --primary-color: #f77f1d;
  --secondary-color: #40e0d0;
  --accent-color: #43f955;
  --stroke-color: #d0d0d0;
  --hover-color: #f77f1d11;

  --font-size-root: 10px;

  --heart-rate-zone1-color: #ffec19;
  --heart-rate-zone2-color: #ffc100;
  --heart-rate-zone3-color: #ff9800;
  --heart-rate-zone4-color: #ff5607;
  --heart-rate-zone5-color: #f6412d;

  --additional-color3: #f11501;
  --additional-color2: #f39c11;
  --additional-color1: #004383;
}
