@import "../Variables.css";

.exerciseMapContainer {
  height: 100%;
  width: 100%;

  border: 0.1rem solid var(--stroke-color);
  border-radius: 1rem;
  background-color: var(--background2-color);

  padding: 2rem;
}

.exerciseMapContainer > .map {
  height: 100%;
  width: 100%;
}

.leaflet-popup-content-wrapper .infoPopup {
  grid-row: 1;
  grid-column: 1 / 3;
  height: 4rem;
  width: 100%;

  display: grid;
  grid-template-columns: 4rem 1fr 4rem;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
}

.infoPopup > .infoPopupIcon {
  grid-row: 1;
  grid-column: 1;

  height: 4rem;
  width: 4rem;
}

.infoPopup > .infoPopupDateInterval {
  grid-column: 2;

  margin: auto;
  font-weight: bold;
  font-size: 1.5rem;
}

.infoPopup > .moreInfoButtonPopup {
  grid-row: 1;
  grid-column: 3;
  height: 4rem;
  width: 4rem;
  margin: auto;

  background-color: var(--primary-color);
  border: 0.1rem solid var(--stroke-color);
  border-radius: 1rem;
  font-weight: bold;
  font-size: 2rem;

  display: flex;
}
.infoPopup > .moreInfoButtonPopup:hover {
  cursor: pointer;
}

.moreInfoButtonPopup > img {
  height: 3rem;
  width: 3rem;
  margin: auto;
}

.custom-marker-cluster-small,
.custom-marker-cluster-medium,
.custom-marker-cluster-large {
  border-radius: 50%;
  background-color: var(--primary-color);
  border: 0.2rem solid var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  font-weight: bold;
}

.custom-marker-cluster-small {
  width: 3rem;
  height: 3rem;
  font-size: 1.2rem;
}

.custom-marker-cluster-medium {
  width: 4rem;
  height: 4rem;
  font-size: 1.4rem;
}

.custom-marker-cluster-large {
  width: 5rem;
  height: 5rem;
  font-size: 1.6rem;
}
