.errorContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.errorContainer > h1 {
  font-size: 10rem;
  color: var(--text1-color);
  font-weight: 700;
}

.errorContainer > h2 {
  font-size: 2.4rem;
  color: var(--text1-color);
  font-weight: 400;
}
